<ion-content>
    <ion-list>
        <app-task
          *ngFor="let task of tasks"
          (openTaskEvent)="presentModal(task)"
          [task]="task"
          (changeStateEvent)="remove(task)"
        ></app-task>
      </ion-list>
      
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
          <ion-icon name="add" (click)="presentModal()"></ion-icon>
        </ion-fab-button>
      </ion-fab>
</ion-content>

