<ion-header>
  <ion-toolbar>
    <ion-title>Task Form</ion-title>
    <ion-buttons slot="start">
        <ion-button (click)="dismiss(null)">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
    <form [formGroup]="taskForm" (ngSubmit)="submit()">
        <ion-item>
          <ion-label position="floating">Name:</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label position="floating">Description:</ion-label>
          <ion-input type="text" formControlName="description"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label position="floating">Image url:</ion-label>
          <ion-input type="text" formControlName="image_url"></ion-input>
        </ion-item>
      
        <ion-button
          color="primary"
          type="submit"
          [disabled]="!taskForm.valid"
          expand="block"
          shape="round"
          fill="outline"
          >Submit</ion-button
        >
      </form>
</ion-content>
