<ion-item (click)="open()">
  <ion-avatar slot="start">
    <img *ngIf="task.image_url" [src]="task.image_url" />
    <img
      *ngIf="!task.image_url"
      src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
    />
  </ion-avatar>
  <ion-label class="ion-text-wrap primary">
    <h1>{{ task.name }}</h1>
    <ion-text color="secondary">
      <p appHighlight>{{ task.description }}</p>
    </ion-text>
  </ion-label>

  <ion-button fill="outline" color="danger" (click)="complied()">
    <ion-icon name="close"></ion-icon>
  </ion-button>
</ion-item>
