<ion-content class="no-padding" text-center color="light">
  <img
    src="http://www.wacarts.co.uk/wp-content/uploads/2015/03/light-life-ignite-2.jpg"
    alt="light life"
  />
  <ion-content>
    <ion-label color="medium">
      QAGroup.Workshop
    </ion-label>

    <ion-title color="ligth">
      Dev.DanTaRiaN and NoNameNone
    </ion-title>

    <ion-text color="medium" class="ion-text-justify">
      <h3>
        Воркшоп по створенню мобільного додатку за допомогою ionic and angular
        <a href="https://www.quality-assurance-group.com/">QAGroup</a>
      </h3>
      <h3>
        Вміст
      </h3>
      <ul>
        <li>
          створення проекту
        </li>
        <li>
          Генерація компонентів
        </li>
        <li>
          Робота з @Input and @Output
        </li>
        <li>
          Робота з динамічним програмуванням
        </li>
        <li>
          Виклик і передача даних, а такаж получення даних з модального вікна
        </li>
        <li>
          Робота з меню
        </li>
      </ul>
    </ion-text>
  </ion-content>
</ion-content>
