<ion-content>
  <ion-list *ngFor="let item of items">
    <app-task [task]="item"></app-task>
  </ion-list>

<div>
  <label>Name</label>
  <input type="text" [(ngModel)]="tmpItem.name">
  <label> description</label>
  <input type="text" [(ngModel)]="tmpItem.description">
  <label> image url</label>
  <input type="text" [(ngModel)]="tmpItem.image_url">
</div>

  <ion-button (click)="put()">
    add
  </ion-button>
</ion-content>
