<ion-app>
  <ion-menu side="start">
    <ion-header>
      <ion-toolbar translucent>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
          <ion-item-divider>
              <ion-label>Navigate</ion-label>
            </ion-item-divider>
        <ion-item routerLink="/home">
          <ion-icon name="home" slot="start"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-item>
        <ion-item routerLink="/tasks">
          <ion-icon name="list" slot="start"></ion-icon>
          <ion-label>Tasks</ion-label>
        </ion-item>
  
        <ion-item routerLink="/authentication">
          <ion-icon name="contacts" slot="start"></ion-icon>
          <ion-label>  Authentication</ion-label>
        </ion-item>
        <ion-item routerLink="/about">
          <ion-icon name="information-circle" slot="start"></ion-icon>
          <ion-label>About-Us</ion-label>
        </ion-item>
      </ion-list>
      <ion-item-divider>
        <ion-label>Others</ion-label>
      </ion-item-divider>
      <ion-list>
        <ion-item>
          <ion-icon name="share" slot="start"></ion-icon>
          <ion-label>Share</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" main>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>QAGroup.Workshop.TaskManager</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-router-outlet></ion-router-outlet>
    </ion-content>
  </div>
</ion-app>
