<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let _new of news">
      <ion-card>
        <img class="cover" [src]="_new.image_url" />
        <ion-card-header>
          <ion-card-subtitle>TaskManager</ion-card-subtitle>
          <ion-card-title>{{ _new.name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{ _new.desc }}</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-item>
    <ion-button
      href="https://docs.google.com/document/d/13oVo_IAgsG0gVMV3XrN-D6kE1GGlxeBWRpIpbYvuP_I/edit#"
      expand="block"
      fill="outline"
      >Click ME !!)</ion-button
    >
    <ion-button routerLink="/tasks" expand="block" fill="solid"
      >Getting Started</ion-button
    >
  </ion-item>
</ion-content>
